body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #37ff8b;
  color: #363537;
  padding: 20px 0 20px 0;
  flex: 0 1 auto;
}
header nav .title {
  font-size: 120%;
  margin: 0 20px 0 20px;
}
header nav .nav-link {
  margin: 0 20px 0 0;
  text-decoration: none;
}
header nav .current {
  background-color: #fff207;
}
footer {
  background-color: #37ff8b;
  color: #363537;
  padding: 20px 0 20px 0;
  flex: 0 1 auto;
  text-align: center;
  width: 100%;
}
footer a {
  text-decoration: none;
}
main {
  flex: 1 0 auto;
}
.container {
  margin: 0 1vw 0 1vw;
  display: flex;
}
.container .pane {
  margin: 1vh 1vw 1vh 1vw;
  flex-shrink: 0;
  flex-basis: auto;
  text-align: center;
}
.container #sel-pane {
  flex-grow: 1;
  display: inherit;
  flex-direction: column;
}
.container #sel-pane .btn {
  flex: 1 0 auto;
  background-color: #02a9ea;
  border: 1px solid #02a9ea;
  color: #363537;
  font: 90% "Open Sans Light", sans-serif;
}
.container #sel-pane .btn:hover,
.container #sel-pane .active {
  background-color: #fff207;
  border: 1px solid #fff207;
}
.container #sel-pane .btn:first-of-type {
  border-radius: 10px 10px 0 0;
}
.container #sel-pane .btn:last-of-type {
  border-radius: 0 0 10px 10px;
}
.container #act-pane {
  flex-grow: 4;
}
.container #act-pane .flav {
  font: bold 150% "Raleway", sans-serif;
}
